# ==========================
#  ARCHIVOS Y DIRECTORIOS GENERALES
# ==========================
node_modules
dist
tmp
temp
.cache
.vscode
.idea
.DS_Store

# ==========================
#  ARCHIVOS DE SISTEMA
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# ==========================
#  ARCHIVOS DE ANGULAR
# ==========================
.angular
.angular/cache
.angular/server

# ==========================
#  CONFIGURACIONES QUE NO SE NECESITAN EN IMAGEN DOCKER
# ==========================
.git
.gitignore
.editorconfig

# ==========================
#  TESTS
# ==========================
**/*.spec.ts
coverage
karma.conf.js
test.ts

# ==========================
#  DOCUMENTACIÓN/RECURSOS NO NECESARIOS
# ==========================
README.md
LICENSE
