


.btn-cliente {
  background-color: var(--c-primary-barber, #8a2c3b);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-cliente:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.711);
}



.btn-admin {
  background-color: var(--c-primary-barber, #000000);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-admin:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(138, 44, 60, 0.711);
}

.loading-overlay, .welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la pantalla */
  background-color: #f8f9fa; /* Color de fondo suave */
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db; /* Tu color primario */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}