<section class="hero-section">
  <div class="video-container">
    <video #heroVideo autoplay muted loop playsinline class="hero-video">
      <source src="assets/videos/0001-1000.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="hero-overlay">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="hero-title">BARBA NEGRA</h1>
          <div class="separator-line"></div>
          <p class="hero-subtitle">DONDE LA ELEGANCIA Y EL ESTILO SE ENCUENTRAN</p>

          <app-button (click)="onReservar()" [style]="'outline-gold'" [label]="'RESERVA'"
            class="mt-5 d-inline-block cursor-pointer">
            <i class="bi bi-arrow-right ms-2"></i>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</section>