server:
  port: ${PORT:5003}

spring:
  application:
    name: microNotificaciones

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

rabbitmq:
  queues:
    reserva-notificacion: ${RABBITMQ_COLA_RESERVAS:cola.reservas.notificaciones}

microservices:
  usuarios:
    url: ${USUARIOS_SERVICE_URL}

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    co.edu.unicauca.micronotificaciones: DEBUG
