<app-hero-section></app-hero-section>

<div class="services-container container py-5">
  <h2 #serviceTitle class="text-center display-4 mb-5 service-title">Nuestros Servicios</h2>
  
  <div class="row services-row g-4">
    <div class="col-md-4 services-col">
      <app-service-card 
        imageSrc="assets/images/HomeImg1.jpg"
        title="BARBERÍA"
        description="Cortes clásicos y modernos con la precisión de un maestro.">
      </app-service-card>
    </div>
    
    <div class="col-md-4 services-col">
      <app-service-card 
        imageSrc="assets/images/HomeImg2.jpg"
        title="COLORACIÓN"
        description="Desde tonos naturales hasta los diseños más atrevidos.">
      </app-service-card>
    </div>
    
    <div class="col-md-4 services-col">
      <app-service-card 
        imageSrc="assets/images/HomeImg3.jpg"
        title="PEINADOS"
        description="Eventos especiales o simplemente para un look impecable.">
      </app-service-card>
    </div>
  </div>
</div>

<!-- 3.SECCIÓN DE UBICACIÓN -->
<app-location></app-location>

<!-- 4. CURSOR PERSONALIZADO -->