:host {
  display: block;
  width: 100%;
  margin-top: auto;
  /* Asegura que se empuje al fondo si está en flex container */
}

:host ::ng-deep app-card .card-base {
  border-radius: 0;
  border-radius: 0 60px 0 0 !important;

  /* 2. ELIMINAR ESPACIOS (Para que pegue al borde) */
  margin: 0 !important;
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;


  /* 4. ALINEACIÓN INTERNA */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 1rem !important;
}

/* Opcional: Ajuste de la imagen para que no rompa el layout */
.content img {
  width: 60%;
  margin-bottom: 0.5rem;
  max-height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content h3 {
  font-size: 1.1rem;
  /* Ajuste opcional de texto */
  margin: 0.5rem 0;
}