<div class="upgrade-card-container">
    <app-card customClass="upgrade-card"> <!-- Reutilizamos el átomo de tarjeta -->
        <div class="content">
            <img src="assets/images/isometric-barbershop-upgrade.png" alt="Ilustración de barbería">
            <h3>Actualízate a PREMIUM</h3>
            <p>Mejora tu experiencia</p>
            <app-button [style]="'primary'">
                <ng-template>Actualizar ahora</ng-template>
            </app-button>
        </div>
    </app-card>
</div>