/* sidebar.component.css */

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

:host ::ng-deep .card-base {
  box-shadow: none !important;
}

.sidebar-complete {
  height: 100%;
  background-color: var(--bg-card, #ffffff);
  display: flex;
  flex-direction: column;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Ocupa todo el espacio disponible */
  width: 100%;

  /* Espacio entre elementos */
  overflow-y: auto;
  animation: fadeIn 0.4s ease;

  background-color: var(--bg-card, #ffffff);
  scrollbar-width: thin;
  scrollbar-color: #9c9c9c transparent;
}

/* 1. Controla el ancho físico. 
   Al bajarlo a 4px-6px, el "espacio" se vuelve irrelevante visualmente */
.navigation-menu::-webkit-scrollbar {
  width: 6px;
}

/* 2. El track (carril) invisible */
.navigation-menu::-webkit-scrollbar-track {
  background: transparent;
}

/* 3. El thumb (la barra que mueves) */
.navigation-menu::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 5px;
  /* Esto la hace redonda y moderna */

  /* OPCIONAL: Si quieres que parezca que flota con un margen, usa este truco: */
  /* border: 2px solid transparent; */
  /* background-clip: content-box; */
}

/* 4. Hover state (opcional): Para mejor UX, oscurece al pasar el mouse */
.navigation-menu::-webkit-scrollbar-thumb:hover {
  background-color: #222222;
}

/* El menú de navegación */
app-sidebar-menu {
  width: 100%;
}

/* La tarjeta Premium */
app-upgrade-card {

  margin-top: auto;
  width: 100%;
  display: block;
  flex-shrink: 0;
}