/* app.component.css */

/* 1. Definimos que la app ocupe toda la altura de la pantalla */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 100% del alto de la ventana */

  max-width: 100%;
  overflow-x: hidden;
}

/* 2. El contenedor principal empuja el footer hacia abajo */
main {
  flex: 1;
  /* Ocupa todo el espacio disponible sobrante */
  width: 100%;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  overflow-x: hidden;
}